#kaocha/v1
{:tests    [{:id          :unit
             :test-paths  ["test"]
             :ns-patterns [".*-test"]}]
 :reporter kaocha.report.progress/report
 :plugins  [:kaocha.plugin/notifier
            :kaocha.plugin/profiling
            :noyoda.plugin/swap-actual-and-expected]}
